ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0; /* Cambié el color del borde */
  margin-bottom: 10px;
}

button {
  background-color: #007bff; /* Cambié el color de fondo del botón */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Cambié el color de fondo en el hover */
}