h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: violet; /* Cambié el color del texto a violeta */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #eee; /* Cambié el color del borde a un tono más claro */
  margin-bottom: 10px;
  background-color: #ffe6e6; /* Fondo rosa claro */
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: yellow; /* Botón de color amarillo */
  color: violet; /* Texto en color violeta */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ffe65e; /* Cambio de color al pasar el mouse, un tono más claro de amarillo */
}